* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
}

body {
    min-width: 1440px;
}

#loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 99999;
    display: none;
}
/*..........首页....*/

#main-portal>div,
#main-portal2>div,
#main-portal3>div {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    margin-bottom: 10px;
    height: 280px;
    padding: 15px;
}
#main-portal2>div{
    height: 240px;
}
#main-portal3>div{
    margin-bottom: 0px;
}

.commontitle>span {
    margin-bottom: 5px;
    vertical-align: middle;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.commontitle>img {
    vertical-align: middle;
}


/* //导航 */

#navbar-example {
    position: fixed;
    right: 260px;
    top: 120px;
    z-index: 10;
}

#navbar-example1 {
    position: fixed;
    right: 60px;
    top: 170px;
    z-index: 10;
}
/* .nav_xian{
    position: absolute;
    width: 1px;
    height: calc(100% - 20px);
    top: 20px;
    right: 10px;
} */
.may_nav li {
    padding: 5px 0;
    padding-right: 30px;
    background: url('/assets//home/icon_quan_sm.png') 55px 9px no-repeat;
    background-size: 10px;
    color: #999;
}
.may_nav li a{
    color: #999;
}
.may_nav .active {
    background: url('/assets//home/icon_quan_lg.png') 45px 2px no-repeat;
    background-size: 30px;
}

.may_nav .active,
.may_nav .active a {
    color: #333;
}

.header_outline {
    height: 60px;
    color: #fefefe;
    border: 0;
    overflow: hidden;
    background-image: url(../../assets/home/header_bac.png) !important;
}

.header_logo {
    margin-top: 8px;
    width: 343px;
    height: 44px;
    margin-left: 20px;
}

.header_search {
    width: 160px;
    height: 30px;
    background-color: #389292;
    border-radius: 4px;
    margin: 15px 0;
    padding-left: 40px;
    color: #fff;
}

.book_search {
    width: 70%;
    height: 36px;
    border: 1px solid #CECECE;
    /* background-color: #389292; */
    border-radius: 4px;
    margin: 0px 0;
    padding-left: 30px;
    color: #000;
}

.search_button {
    /*float: right;*/
    display: inline-block;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    width: 24%;
    height: 36px;
    background: rgba(0, 160, 159, 1);
    border-radius: 4px;
    margin-left: 10px;
}

.icon_data_r {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    right: 20px;
    width: 16px;
    top: 16px;
}

.icon_search {
    cursor: pointer;
    position: absolute;
    width: 18px;
    top: 22px;
    left: 10px;
    height: 18px;
}

.icon_search3 {
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 10px;
    left: 10px;
}

.icon_search2 {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 18px;
    left: 15px;
}

.icon_header {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.header_line {
    width: 1px;
    height: 20px;
    background-color: #e2e3ec;
    opacity: 0.5;
}

.icon_headimg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    border: solid 1px #b8bcd4;
    margin-top: 15px;
    margin-left: 20px;
}

.header_username {
    height: 30px;
    line-height: 30px;
    margin: 15px 20px 15px 10px;
}

.icon_header,
.header_line {
    margin-left: 20px;
    margin-top: 20px;
}

.tab_search {
    width: 80px;
    padding-left: 30px;
    height: 30px;
    background-color: #f2f3f8;
    border-radius: 15px;
    margin: 10px 0 0 6px;
}
.icon_toggle{
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 18px;
    right: 10px;
}

#nav-accordion {
    background: #fff;
}

#nav-accordion li,
ul {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 20px 0;
    /* cursor: pointer; */
}

#nav-accordion h3 {
    margin: 6px;
    color: #666666;
}

#app-header {
    border-radius: 0 !important;
}

.nav_item {
    text-align: center;
}

.work_card {
    position: relative;
    display: inline-block;
    height: 70px;
    width: 49%;
    background-color: #f2f3f8;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-right: 1%;
}
.work_card div{
    line-height: 35px;
}
.work_name{
    position: absolute;
    top: 30px;
    left: 180px;
    font-size: 14px;
    display: inline-block;
}
.xie-tong .work_name{
    left: 280px;
}
.work-approval {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    display: none;
}

.work-approval>span {
    font-weight: bold;
    cursor: pointer;
}

.work-approval>span:first-child {
    color: #00f;
    margin-right: 20px;
}

.work-approval>span:first-child+span {
    color: #f00;
}

.icon_work_area {
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    position: absolute;
    font-size: 12px;
    line-height: 22px !important;
    color: #067877;
    top: 14px;
    left: 13px;
    width: 48px;
    height: 22px;
    background-image: url(../../assets/home/icon_work_area.png);
}

.icon_work_area span {
    padding-left: 7px;
}

.work_title {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 70px;
    top: 8px;
    cursor: pointer;
}

.work_time {
    font-size: 14px;
    color: #666;
    position: absolute;
    left: 70px;
    top: 30px;
    
}
.totalwork_time{
    font-size: 14px;
    color: #666;
    position: absolute;
    right: 20px;
    top: 30px;
}
.salary{
    margin-left: 15px;
}
.fnc_card {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 25%;
    float: left;
    color: #1B1B1B;
    font-size: 13px;
    margin-top: 20px;
}

.asst {
    /*float: right;*/
    margin-top: 10px;
    cursor: pointer;
}

.user_lable {
    float: left;
    height: 30px;
    background-color: #e6f1f1;
    border-radius: 4px;
    line-height: 30px;
    margin: 10px 0% 0 1%;
    width: 32%;
    text-align: center;
}

.user_lable img {
    margin-left: 5px;
    vertical-align: middle;
}

.user_lable>span {
    display: inline-block;
    width: 65px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.tab_card {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
}

.title_line {
    padding: 20px;
    margin-bottom: 10px;
}

.tab_title {
    float: left;
    border-left: 4px solid #00A09F;
    width: 150px;
    height: 16px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.title_record {
    cursor: pointer;
    color: #437FE5;
    float: right;
    height: 14px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(67, 127, 229, 1);
}
/* 奖金下发--点击单号 */
.b-name{
    width: 200px;
    height: 34px;
    border: 1px solid #CECECE;
}
.totalAmounts{
    width: 200px;
    height: 34px;
    border: 1px solid #CECECE;
}
/* --------------------echarts----------------------- */
#chart7-container div{
    position: relative;
    overflow: hidden;
    left: -13px;
}
.chart-legend {
    /* background: red; */
    position: absolute;
    right: 15px;
    top: 72px;
    font-size: 14px;
}

.serving-legend,.age-legend {
    top: 50px;
}

.chart-legend .chart-legend-item {
    line-height: 15px;
    /* height: 35px; */
    /* display: none; */
    margin: 15px 0;
}

.serving-legend .chart-legend-item {
    display: block;
}

.chart-legend .chart-legend-item span {
    vertical-align: middle;
}

.chart-legend .chart-legend-icon1, .chart-legend-icon2,.chart-legend-icon3,.chart-legend-icon4 {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 2px;
}

.chart-legend .chart-legend-title {
    display: inline-block;
    width: 90px;
    text-align: left;
    color: #888;
}

.chart-legend .chart-legend-num {
    display: inline-block;
    min-width: 20px;
    text-align: right;
    color: #333;
}

.chart-legend .chart-legend-unit {
    color: #888;
}
.chart-legend-scale{
    border-left: 1px solid #999;
}
/* ------------------------------------------ */
.chart-legend2 {
    /* background: red; */
    position: absolute;
    right: 15px;
    top: 72px;
    z-index: 1;
    font-size: 14px;
}

.serving-legend2 {
    top: 50px;
}

.chart-legend2 .chart-legend-item {
    line-height: 15px;
    /* height: 35px; */
    /* display: none; */
}

.serving-legend .chart-legend-item {
    display: block;
}

.chart-legend2 .chart-legend-item span {
    vertical-align: middle;
}

.chart-legend2 .chart-legend-icon5, .chart-legend-icon6,.chart-legend-icon7,.chart-legend-icon8,.chart-legend-icon9{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.chart-legend2 .chart-legend-title {
    display: inline-block;
    width: 80px;
    text-align: left;
    color: #888;
}

.chart-legend2 .chart-legend-num {
    display: inline-block;
    min-width: 20px;
    text-align: right;
    color: #333;
}

.chart-legend2 .chart-legend-unit {
    color: #888;
}
/* -----------------图例圆圈颜色---------------------- */
.chart-legend-icon1{
    border: 3px solid #6791e9;
}
.chart-legend-icon2{
    border: 3px solid #7cbfff;
}
.chart-legend-icon3{
    border: 3px solid #f8c751;
}
.chart-legend-icon4{
    border: 3px solid #fc8f6e;
}
.chart-legend-icon5{
    border: 3px solid #064AD5;
}
.chart-legend-icon6{
    border: 3px solid #51AFFF;
}
.chart-legend-icon7{
    border: 3px solid #067877;
}
.chart-legend-icon8{
    border: 3px solid #FC6732;
}
.chart-legend-icon9{
    border: 3px solid #FF971C;
}
/*........首页弹窗.........*/

.alert-content {
    padding: 15px;
    position: relative;
}
/* 学历 */
.alert-table-box{
    margin-top: 20px;
    width: 100%;
}
.education-name-search{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 14px;
}
.education-search-box{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.education-search-box>input{
    padding: 5px;
    vertical-align: middle;
}
.education-search-box>img{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
}
/* 功能编辑 */
.fnc-tree{
    width: 40%;
    float: left;
    height: 100%;
    overflow-y: scroll;
}
.fnc-edit-btn{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 0;
}
.fnc-edit-btn button{
    margin: 0 0 0 10px;
}
.fnc-edit{
    height: 100%;
}
.fnc-edit .fnc-right{
    width: 60%;
    height: 100%;
    float: right;
    border-left: 1px solid #ccc;
}
.fnc-current{
    width: 100%;
    height: 40%;
    border-bottom: 1px solid #ccc;
    font-size: 0;
}
.fnc-item{
    width: 25%;
    box-sizing: border-box;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    position: relative;
    vertical-align: top;
}
.current-name{
    height: 35px;
    line-height: 35px;
}
.fnc-item>img:first-child{
    display: none;
}
.fnc-item>img{
    width: 40px;
    height: 40px;
}
.fnc-del-icon{
    background: #fff;
    height: 15px;
    width: 15px;
    position: absolute;
    top: -12%;
    right: 30%;
    border-radius: 50%;
    display: none;
}
.fnc-del-icon>img{
    width: 100%;
    height: 100%;
}
.icon-library{
    height: 40%;
    font-size: 0;
    display: none;
}
.icon-library>li{
    display: inline-block;
    width: 20%;
    text-align: center;
    margin-top: 20px;
}
.icon-library>li img{
    width: 40px;
    height: 40px;
}
/*----------------通讯录-------------------  */
.mail-list{
    position: relative;
}
.search-result{
    box-sizing: border-box;
    width: 500px;
    display: none;
    top: 36.4px;
    left: -60%;
    position: absolute;
    overflow: hidden;
    font-size: 0;
    background: #fff;
    z-index: 222;
    padding: 0 10px 10px 0;
    border: 1px solid #ccc;
}
.applyName{
    width: 10%;
}
.empId{
    width: 15%;
}
.contactType{
    width: 10%;
}
.contactCode{
    width: 10%;
}
.belongUnit,.belongDept{
    width: 18%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.search-result>ul{
    margin-top: 10px;
}
.search-result li{
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

/* -----------------------弹窗----------------------------- */
.home-overflow{
    display: inline-block;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.datagrid-header{
    width: 100% !important;
}
/*2019-11-22下午echarts*/

.fl {
    float: left;
    /* padding-left: 20px; */
}

.fr {
    float: right;
    /* padding-left: 20px; */
}

.sexdivclass {
    height: 50px;
    line-height: 50px;
    /* margin: 10px 30px; */
}

.sexdiv {
    /*width: 49%;*/
    height: 100%;
    display: inline-block;
}
.sexdiv span{
    color: #8F8F9B;
}
.commonsex {
    width: 50px;
    height: 50px;
    /*background: rgba(0, 184, 255, 0.2);
    border: 1px solid rgba(0, 127, 255, 1);
    border-radius: 50%;*/
    background: url('../images/man-icon.png') no-repeat center center;
    display: inline-block;
    vertical-align: middle;
}

.commonsex+span {
    vertical-align: middle;
}

.commondiff {
    background: url('../images/women-icon.png') no-repeat center center;
    /*background: rgba(252, 103, 50, 0.2);
    border: 1px solid rgba(252, 103, 50, 1);*/
}

.chart5-bottom {
    height: 50px;
    margin: 0px 5px;
}

.pleav {
    margin-bottom: 10px;
}

.chart5-bottom span {
    color: #1B1B1B;
    font-weight: bold;
}
.chart5-bottom label{
    margin:0 10px;
    color: #8F8F9B;
}
.chart5-bottom .man-icon,.woman-icon{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    /* margin-right: 10px; */
}
.man-icon{
    border: 3px solid #6791e9;
}
.woman-icon{
    border: 3px solid #f8c751;
}
.p2{
    margin-left: 5px;
}
/*......进入员服....*/

.alertyf {
    display: none;
    position: absolute;
    width: 340px;
    /* height: 230px; */
    padding: 10px;
    top: 61px;
    z-index: 100;
    right: 6px;
    background: #fff;
    border: 1px solid #CECECE;
}

.alertyf-top {
    border-bottom: 1px solid #CECECE;
}
.alert-uls{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.alert-imgs{
    width: 12%;
    height: 80%;
    margin:10px 0 0 0; 
}
.alert-stuffcontents{
    width: 85%;
    height: 100%;
    padding-bottom: 5px;
    margin-left: 5px;
    /* float: right; */
    /* border: 1px solid #ff0; */
}
.alertyf ul li {
    float: left;
    /* padding-right: 15px; */
}

.alertyf-contenet {
    padding: 10px 0;
}

.alertyf-p {
    margin-bottom: 7px;
}

.alertyf-p span:first-child {
    display: inline-block;
    width: 70px;
}

.alertyf-bottom {
    width: 100%;
    overflow: hidden;
}

.alertyf-btn {
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    /* margin: 0 auto; */
    margin-left: 100px;
    background: #ccc;
    cursor: pointer;
    float: left;
}
.alertjcfx-btn{
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    margin: 0px 50px;
    background: #ccc;
    cursor: pointer;
    float: left;
}
#enteryfbmgw{
    width: 100%;
}
/* 双圆环文字定位 */
/* .commit-contents{
    position: relative;
} */
.a-finish{
    width: 300px;
    height: 200px;
    float: left;
    /* border: 1px solid red; */
    position: relative;
}
.hasfinished{
    width: 70px;
    height: 50px;
    text-align: center;
    line-height: 27px;
    /* border: 1px solid red; */
    position: absolute;
    top:71px;
    left:75px;
    z-index: 3;
}
.finish-num{
    font-size: 28px;
    font-family: 'DFPLiJinHeiW8';
    color: rgba(51, 51, 51, 1);
}
.finish-text{
    font-size: 12px;
    color: rgba(153, 153, 153, 1);
}
.nofinish{
    width: 70px;
    height: 50px;
    text-align: center;
    line-height: 27px;
    /* border: 1px solid red; */
    position: absolute;
    top:71px;
    left:158px;
    z-index: 3;
}
/* 菜单弹出页面 */

.secondary {
    display: none;
    position: absolute;
    font-size: 14px;
    left: 120px;
    z-index: 100;
    background: #fff;
    bottom: 0;
    top: 60px;
    border: 1px solid #f2f2f2;
    /* height: calc(100% - 62px); */
    overflow: hidden;
}

.secondary_one {
    padding: 20px;
    float: left;
    width: 170px;
    height: 100%;
    background: #F4F9F8;
    overflow-y: auto;
}

.secondary_one img {
    width: 8px;
    position: absolute;
    right: 0px;
    /* top: 19px; */
    top: 11px;
}

.secondary_act {
    color: #00A09F;
}

.secondary_one div,
.secondary_two div {
    position: relative;
    padding: 7px 5px;
}

.secondary_two_box {
    overflow: hidden;
}

.secondary_two {
    padding: 20px;
    float: left;
    height: 100%;
    background: #fff;
}

.secondary_title {
    border-bottom: 1px solid #D0DFDF;
    margin-bottom: 10px;
}

.secondary_two div {
    padding-right: 20px;
}

.delete{
    width: 80%;
    margin: 0 auto;
    /* height: 200px; */
}
.full_excess{
    width: 90%;
    margin: 0 auto;
}
.tips{
    font-size: 18px;
    line-height: 90px;
    height: 100px;
}
.m-tips{
    font-size: 18px;
    line-height: 30px;
    height: 70px;
    margin: 20px 0;
    /* border: 1px solid red; */
}
.delete,.full_excess button:last-child{
    float: right;
}

/* 人员信息 */

.peoples_west {
    border: 1px solid #eee;
    height: calc(100% - 50px);
    overflow-y: auto;
    padding: 5px;
}

.table_tab span {
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 10px;
}

.table_tab1 {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.table_tab1 li {
    float: left;
    padding: 5px 20px;
    line-height: 40px;
    /* height: 40px; */
}


/* .table_tab1 li:last-child{
    padding: 0px;
} */

.table_tab1 li.active {
    border-bottom: 2px solid #00A09F;
}

.table_tab span.act {
    border-bottom: 2px solid #00A09F;
    color: #00A09F;
}

.input_seach {
    border: 1px solid #eee;
    padding: 5px;
}

.layout-split-west {
    border: 0;
}

.textbox-label {
    width: auto;
}

.per_btn_box {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}
.totalAmount{
    border: none;
}
.main_btn {
    border-radius: 5px;
    background: #00A09F;
    color: #fff;
    width: 80px;
    padding: 5px 0;
    border: none;
    margin-right: 5px;
    border: 1px solid #00A09F;
}

.main_btn_col {
    width: 80px;
    border-radius: 5px;
    background: #fff;
    color: #fff;
    padding: 5px 0;
    border: 1px solid #00A09F;
    color: #00A09F;
    margin-right: 5px;
}

.per_back {
    padding: 5px 0;
}

.table_tab ul {
    width: 917px;
    height: 30px;
    /*margin:12px auto;*/
    border-bottom: 1px solid rgba(233, 233, 233, 1);
    border-radius: 3px;
    background: #fff;
    box-sizing: border-box;
    display: inline-block;
}

.table_tab ul li {
    width: 130px;
    float: left;
    color: #8b8b8b;
    cursor: pointer;
    line-height: 29px;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
}

.table_tab ul li:last-child {
    border-right: none;
}

.table_tab ul li.active {
    border-bottom: 1px solid #067877;
    color: #067877;
}


/*人员信息-左侧收缩展开*/

.people-left .collapse {
    width: 18px;
    height: 90px;
    background: url('/assets//home/left-collapse-icon.png') no-repeat;
    top: 50%;
    margin-top: -15px;
    position: absolute;
    cursor: pointer;
    right: 0px;
}

.people-right .expand {
    width: 18px;
    height: 90px;
    background: url('/assets//home/left-expand-icon.png') no-repeat;
    top: 50%;
    position: absolute;
    cursor: pointer;
    display: none;
    margin-top: -15px;
    left: 0px;
}


/* 个人信息 */

.top_box {
    overflow: hidden;
    padding: 10px;
    position: relative;
    background: #fff;
    margin: 10px 0;
}

.top_box1 {
    overflow: hidden;
    padding: 10px;
    position: relative;
    margin: 10px 0;
}

.top_img {
    width: 60px;
    float: left;
}

.top_img img {
    width: 100%;
}

.top_con {
    float: left;
    padding-top: 10px;
    position: relative;
}

.top_con span {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.top_edit_btn {
    position: absolute;
    right: 20px;
    width: 15px;
    top: 20px;
    display: none;
}


/* 个人人信息主列 */

.top_box input {
    padding: 3px 5px;
    border-left: 3px solid #eee;
}

.per_main_list input {
    padding: 3px 5px;
    border: 1px solid #999;
}


/* .per_main_list {
    padding: 3px 5px;
} */

.per_cv_con_add .per_cv_con_edit {
    position: relative;
    background: #F7FBFB;
    padding: 10px;
}

.per_cv_con_edit_x {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 18px;
}

.per_cv_con .per_cv_con_edit {
    /* display: none; */
    background: #E6F1F1;
    padding: 10px;
}

.per_cv_con_edit_span {
    display: inline-block;
    margin: 10px 0;
    width: 32%;
}

.per_cv_con_edit_p {
    margin: 10px 0;
    position: relative;
    height: 25px;
}

.per_cv_con_edit_p b {
    /* background:#E6F1F1; */
    margin: 8px 0;
    font-weight: 400;
    position: relative;
    color: #00A09F;
    padding: 5px;
    border-radius: 5px;
    background: #E6F1F1;
    padding-right: 30px;
}

.save_group {
    position: absolute;
    right: 10px;
    top: 0;
}

.save_group_log_box {
    width: 100%;
    border-top: 1px solid #eee;
}

.save_group_log {
    position: absolute;
    right: 10px;
    top: 10px;
}

.save_group_log button {
    margin-top: 5px;
    padding: 5px 25px;
    background: #00A09F;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-left: 15px;
    border: 1px solid #00A09F;
}

.basis_x {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 16px;
    height: 16px;
    background: url('../../easyui/themes/bootstrap/images/panel_tools.png') no-repeat -16px 3px;
}

.save_group button {
    padding: 3px 10px;
    background: #00A09F;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
}

.save_group .save_group_col {
    background: #fff;
    border: 1px solid #00A09F;
    color: #00A09F;
}

.save_group_log .save_group_col {
    background: #fff;
    border: 1px solid #00A09F;
    color: #00A09F;
}

.per_cv_con_edit_span>span,
.per_cv_con_edit_p>span {
    display: inline-block;
    text-align: right;
    width: 110px;
    margin-right: 3px;
}

button {
    outline: 0;
}

.per_cv_con_edit_p>button {
    padding: 3px 10px;
    background: #00A09F;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.per_cv_con_edit_span>input {
    width: 150px;
    margin-left: 5px;
}

.per_main_list {
    padding: 10px;
    position: relative;
}

.per_main_title {
    font-size: 16px;
    border-left: 3px solid #00A09F;
    padding-left: 5px;
    margin-bottom: 10px;
}

.per_main_con {
    padding: 10px 0;
    overflow: hidden;
}

.per_main_con div {
    padding: 8px 0;
    float: left;
    height: 40px;
    width: 30%;
}

.per_main_con span {
    width: 110px;
    display: inline-block;
    text-align: right;
}

.per_main_con b {
    font-weight: 500;
    display: inline-block;
    width: 150px;
}

.per_cv_con {
    padding-top: 5px;
    position: relative;
}

.per_cv_con>div {
    padding: 5px 0;
    position: relative;
}

.per_cv_con span,
.per_cv_con b {
    padding: 0 8px;
    display: inline-block;
}

.per_cv_con .cv_time {
    width: 210px;
    display: inline-block;
}

.per_cv_con .cv_time b {
    font-weight: 400;
    padding: 0;
}

.per_cv_con .dian {
    padding: 0;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #00A09F;
    border-radius: 8px;
    box-shadow: 0 0 8px #00A09F;
}

.per_cv_con .act {
    color: #00A09F;
}

.per_cv_con .material {
    color: #437FE5;
}

.per_cv_con .material img {
    height: 15px;
}

.per_west {
    width: calc(100% - 220px);
}


/* 编辑头 */

.data_fieid {
    font-size: 14px;
    font-weight: 600;
}

.basis_group {
    /* margin: 10px 0; */
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.basis_group .basis_titlt {
    padding: 8px 0;
}

.basis_group .basis_titlt input {
    margin-right: 3px;
}

.basis_group .basis_list label {
    margin-right: 10px;
    margin-bottom: 8px;
}

.basis_group .basis_list input {
    margin-right: 3px;
}

.basis_group .basis_lists label {
    display: inline-block;
    width: 15%;
    margin-right: 10px;
    margin-bottom: 8px;
}

.basis_group .basis_lists input {
    margin-right: 3px;
}

.east_basis_box {
    border-left: 1px solid #eee;
    height: 100%;
    overflow-y: auto;
    padding: 0 10px 10px;
}

.east_basis_title {
    padding: 0 0 10px;
}

.east_ul li {
    margin: 8px 0;
    position: relative;
    padding: 5px;
    border-radius: 5px;
    background: #E6F1F1;
}

.east_ul1 li {
    margin: 10px 0;
    margin-right: 10px;
    display: inline-block;
    width: 30%;
    position: relative;
    padding: 5px;
    border-radius: 5px;
    background: #F2F3F8;
}


/* 申请记录 */

.table_seach {
    height: 40px;
    overflow: hidden;
}

.table_seach_left {
    float: left;
}

.save_group_seach button {
    padding: 5px 20px;
    border: 1px solid #00A09F;
    background: #00A09F;
    color: #fff;
    border-radius: 3px;
    margin-right: 10px;
}

.save_group_seach .index_ok {
    padding: 5px 15px;
    border: 1px solid #eee;
    color: #999;
    border-radius: 3px;
}

.save_group_seach .index_ok img {
    position: relative;
    top: -1px;
}

.table_seach_right {
    float: left;
}

.table_seach_right button {
    position: relative;
    top: 2px;
    padding: 0 20px;
    border: none;
    background: #00A09F;
    color: #fff;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 30px;
}

.table_seach_right span {
    margin-left: 5px;
}

.more_and_more {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 350px;
    height: 145px;
    padding: 8px;
    overflow-y: auto;
    border-radius: 3px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    display: none;
}

.more_and_more_title .rg {
    color: rgba(0, 160, 159, 1);
}

.more_and_more_title {
    overflow: hidden;
}

.more_and_more_con {
    overflow: hidden;
    padding: 8px 0;
}

.more_and_more_con>div {
    width: 50%;
}

.more_and_more_con div {
    padding: 2px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.more_and_more_con .title {
    font-weight: 500;
    margin-bottom: 5px;
}

.more_and_more_con .lf .title {
    padding-left: 50px;
}

.lf {
    float: left;
}

.rg {
    float: right;
}


/* 共享字段 */


/* .shared_box { */


/* width:calc(100% - 160px ) */


/* } */

.shared_btn_box {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.shared_main_list {
    padding: 10px 10px 10px 0px;
    margin-top: 10px;
    position: relative;
}

.shared_main_title {
    font-size: 16px;
    border-left: 3px solid #00A09F;
    padding-left: 5px;
    position: relative;
}

.shared_main_title .search2 {
    position: absolute;
    right: 5px;
    top: 6px;
}

.shared_main_con {
    padding: 10px 0;
    overflow: hidden;
    margin-top: 5px;
}

.shared_main_con span {
    padding: 3px 8px;
    display: inline-block;
    background: #F2F3F8;
    margin: 5px;
    border-radius: 2px;
}

.shared_main_con_table {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    margin-top: 10px;
    overflow: hidden;
}

.shared_main_con_table span {
    float: left;
    width: 12.5%;
    line-height: 35px;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}
.shared_main_con_table_te{
    border-left: 1px solid #eee;
    margin-top: 10px;
    overflow: hidden;
}
.shared_main_con_table_te span{
    border-top: 1px solid #eee;
    float: left;
    width: 12.5%;
    line-height: 35px;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}


/* 查看详情 基本信息 */

.shared_list {
    padding: 10px 14px;
    overflow: hidden;
}
.shared_list p{
    padding: 5px 8px;
}
.shared_list>div {
    float: left;
    margin-bottom: 10px;
    width: 33%;
}

.shared_main_list select {
    height: 30px;
    width: 140px;
    border: 1px solid #eee;
    background: #fff;
}

.shared_main_list input {
    height: 34px;
    width: 200px;
    border: 1px solid #eee;
    background: #fff;
    vertical-align: top;
}

.shared_list>div span {
    display: inline-block;
    width: 105px;
    text-align: right;
    margin-right: 8px;
}

.east_box {
    /*border-left: 1px solid #eee;*/
    height: 100%;
    overflow-y: auto;
    padding: 0 10px 10px;
}

.east_title {
    padding: 3px 10px;
    font-weight: 500;
    font-size: 14px;
    border-left: 3px solid #00A09F;
}

.shared_main_title_sm {
    padding: 8px 12px;
    font-size: 16px;
}

.shared_main_title_sm1 {
    padding: 10px 0 10px 14px;
    font-size: 14px;
}

.shared_scope_list{
    padding: 9px 12px;
    overflow: hidden;
}
.shared_scope_list1{
    padding: 5px 14px;
    overflow: hidden;
}

.shared_scope_list .box, .shared_scope_list1 .box {
    float: left;
    width: calc(100% - 110px);
    overflow: hidden;
}

.shared_scope_list span {
    float: left;
    padding: 3px 0;
    width: 110px;
}
.shared_scope_list1 span {
    float: left;
    padding: 3px 0;
    margin-right: 8px;
}

.shared_scope_list b,.shared_scope_list1 b {
    padding: 3px 8px;
    font-weight: 400;
    float: left;
    background: #F2F3F8;
    border-radius: 2px;
    margin-right: 8px;
    margin-bottom: 8px;
}


/* 上传图片 */

.file_box {
    position: relative;
    margin-left: 3px;
}

.file_box input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}


/*.......共享人员查看.......*/

.auditul ul {
    /*width: 261px;*/
    height: 30px;
    /*margin:12px auto;*/
    border-bottom: 1px solid rgba(233, 233, 233, 1);
    border-radius: 3px;
    background: #fff;
    box-sizing: border-box;
}

.auditul ul li {
    width: 130px;
    float: left;
    color: #8b8b8b;
    cursor: pointer;
    line-height: 29px;
    text-align: center;
    box-sizing: border-box;
}

.auditul ul li:last-child {
    border-right: none;
}

.auditul ul li.active {
    border-bottom: 1px solid #067877;
    color: #067877;
}

.title_ccc {
    padding: 0 10px;
    border-left: 2px solid #00A09F;
    margin: 10px 0;
}

.top_con_list1 {
    border: 1px solid #eee;
    margin: 10px 0;
    overflow: hidden;
}

.top_con_list1 div {
    /* display: inline-block; */
    float: left;
    width: 20%;
    padding: 5px 10px;
}

.top_con_list1 div span {
    width: 100px;
    display: inline-block;
    text-align: right;
}
/*-----数据共享------申请记录详情页--------*/
.wsqdiv{
    display: inline-block;
    /*margin-right: 25px;*/
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.wsqdiv p{
    margin-bottom: 5px;
}
.wsqdiv span{
    display: inline-block;
}
.wsqry{
    color: #437FE5;
    
}
/* 用工配置 */
.per_main_con div.dept_info {
    width: 40%;
}

.per_main_con span {
    width: 110px;
    display: inline-block;
    text-align: right;
}
.per_main_con>.dept_info span,.base_info span {
    width: 130px;
    display: inline-block;
    text-align: right;
}
.per_main_con>.dept_info input,.base_info input{
    border:1px solid #D4D4D4;
}
.per_main_con>.outDept_info input{
    border:none;
}
/* ------用工配置------- */